---
---

$section-spacing: 4rem;

body {
  font-family: 'hack', sans-serif;
  margin: 2rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 600px;
}

header,
footer {
  display: flex;
}

header,
.center {
  align-items: center;
  flex-flow: column;
}

header,
section {
  margin-bottom: $section-spacing;
}

header h1 {
  display: inline-block;
  margin-bottom: 0;
}

audio,
table {
  width: 100%;
}

footer {
  margin-top: $section-spacing;
  justify-content: center;
}

footer a {
  color: #595959;
}

footer a:not(:last-child) {
  margin-right: 1rem;
}
